//Reusable blocks of logic, such as media query helpers, flexbox shorthand shortcuts, or responsive typography functions.

@use "variables" as a;

// Breakpoints
@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: a.$bp-tablet) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: a.$bp-desktop) {
      @content;
    }
  }
}

// Headings
@mixin heading-xll {
  font-family: a.$font-primary;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -2.5px;
}

@mixin heading-xl {
  font-family: a.$font-primary;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -2.045px;
}

@mixin heading-l {
  font-family: a.$font-primary;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.5px;
}

@mixin heading-m {
  font-family: a.$font-primary;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.14px;
}

@mixin heading-ms {
  font-family: a.$font-primary;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}

@mixin heading-s {
  font-family: a.$font-primary;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

// Bodies
@mixin body-m {
  font-family: a.$font-primary;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

@mixin body-s {
  font-family: a.$font-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
